
body {
    background-color: lch(11.1% 63.54 304.66);
    color: aliceblue;
    padding: auto;
    text-align: center;
}
button{
    padding: 0;
    margin-top: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-top: 20px;
}
img{
    border-radius: 2rem;
}