
body{
    background-color: aqua;
    background-position: center;
    text-align: center;
}
h1{
background-color: aqua;
    background-position: center;
    text-align: center;
}
.login-container{
background-color: aqua;
    background-position: center;
    text-align: center;
}
.form-group{
background-color: aqua;
    background-position: center;
    text-align: center;
}
label{
background-color: aqua;
    background-position: center;
    text-align: center;
}
input{
background-color: aqua;
    background-position: center;
    text-align: center;
} 
div{
background-color: aqua;
    background-position: center;
    text-align: center;
}
.form-options{
background-color: aqua;
    background-position: center;
    text-align: center;
}
a{
background-color: aqua;
    background-position: center;
    text-align: center;
}
button{
background-color: aqua;
    background-position: center;
    text-align: center;
}