body {
    background-color: aqua;
}
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    height: 900px;
    left: 45%;
    text-align: center;
}
.centered-element{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
h1 { 
    color:red;
    text-align: center;
    font-size: 35px;
}
h2 { 
    color:blue;
    text-align: right;
    font-size: 35px;
}
h3{ 
    color: aqua;
    text-align: center;
    font-size: 35px;
    text-decoration:underline 10px green solid;
    border: 10px solid black;
}