body {
    background: radial-gradient(circle, #01082d, #45065a);
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

button {
    padding: 0;
    margin-top: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
    margin-top: 20px;
}

img {
    border-radius: 2rem;
}

h1 {
    color: rgb(255, 255, 255);

    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}

h3 {
    color: aqua;
    text-align: center;
    font-size: 35px;
    text-decoration: underline 10px green solid;
    border: 10px solid black;
}

li {

    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    margin-right: 75px;
}

ol {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 10%;
    padding: 0%;
    color: white;

}

#deco_main_menu {
    transition: all 0.3s ease;
}

#deco_main_menu:hover {
    transition: 0.5s;
    color: rgb(165, 180, 255);
    transform: scale(1.2);
}

article {
    margin: 5%;
        
    font-size: 18px;
    line-height: 1.7;
}
#silo_article{
    font-size: 18px;
}
#silo_article:hover{
    font-size: 18px;
    color: red;
}

#lugar_seguro {
    font-size: 30px;
    color: white;
    text-align: center;
}

#silo_enlace {
    font-size: 20px;
}

#silo_enlace:hover {
    font-size: 22px;
    transition: 0.5s;
    color: rgb(141, 9, 9);
}


#banner_horizontal {
    border-radius: 5%;
}

#emcabezado1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: nowrap;
}

#frase_encabezado {
    padding: 50px 20px 0 20px;
    font-size: 32px;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;

}
footer {
    text-align: center;
}
#compartir:hover {
    font-size: 22px;
    transition: 0.5s;
    color: rgb(120, 4, 4);
}
#texto_final {
    text-align: center;
}
@media screen and (max-width:740px) {
    body {
        width: 100%;
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    li {
        display: block;
        margin: 10px 0;
        margin-right: 0;
        text-align: center;
    }



    #banner_horizontal {
        display: none;
    }

    #emcabezado1 {
        display: none;
    }

    #frase_encabezado {
        display: none;
    }

    #banner_encabezado_horizontal {
        display: flex;
        position: relative;

    }

    article {
        width: 400px;
        margin: auto;
    }
}